        body {
            height:100%;
            width:100%;
            color: hsl(170,100%,50%);
            background: hsl(240,100%,5%);
            font-size:25px;
            font-weight:600;
            text-align:center;
            display:inline-table;
            text-shadow: 10px 7px 15px hsl(170,70%,70%),
                         10px -7px 15px hsl(170,70%,70%),
                         -10px -7px 15px hsl(170,70%,70%),
                         -10px 7px 15px hsl(170,70%,70%);
            animation-name:look;
            animation-duration:10s;
            animation-iteration-count: infinite;
            animation-timing-function:linear;
        }
        @keyframes look {
                0% {
                    color:hsl(170,100%,60%);                
                    text-shadow: 10px 7px 15px hsl(170,70%,70%),
                         10px -7px 15px hsl(170,70%,70%),
                         -10px -7px 15px hsl(170,70%,70%),
                         -10px 7px 15px hsl(170,70%,70%);
                }
                25% {
                    color:hsl(210,100%,60%);                
                    text-shadow: 7px 5px 15px hsl(210,70%,60%),
                         7px -5px 15px hsl(210,70%,80%),
                         -7px -5px 15px hsl(210,70%,80%),
                         -7px 5px 15px hsl(210,70%,80%);
                }
                50% {
                    color:hsl(250,100%,60%);
                    text-shadow: 5px 3px 15px hsl(250,100%,50%),
                         5px -3px 15px hsl(250,100%,50%),
                         -5px -3px 15px hsl(250,100%,50%),
                         -5px 3px 15px hsl(250,100%,50%);
                }
                75% {
                    color:hsl(210,100%,60%);              
                    text-shadow: 7px 5px 15px hsl(210,70%,60%),
                         7px -5px 15px hsl(210,70%,80%),
                         -7px -5px 15px hsl(210,70%,80%),
                         -7px 5px 15px hsl(210,70%,80%);
                }
        }
        p {
            display:table-cell;
            vertical-align:middle;    
        }
